@model IEnumerable<Peliculas>
@{
    ViewData["Title"] = "Home Page";
    var lstCategorias = ViewBag.lstCategorias.Split('.');
}

<style>
</style>

@if (!ViewBag.Busqueda)
{
    <div id="carrusel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#carrusel" data-slide-to="0" class="active"></li>
            <li data-target="#carrusel" data-slide-to="1" class=""></li>
            <li data-target="#carrusel" data-slide-to="2" class=""></li>
        </ul>
        <!-- The slideshow -->
        <div class="carousel-inner">
            @for (int ind = 0; ind < 3; ind++)
            {
                var pelicula = Model.ElementAt(ind);
                var clase = "carousel-item";
                if(ind == 0) { clase += " active"; }
                var imagen = pelicula.Poster;
                if (imagen == null || imagen == "") { imagen = "/images/img-no-disponible.png"; }
                <div class="@clase">
                    <a href="/home/Details/?pelicula=@pelicula.Nombre">
                        <img class="d-block w-100 img-responsive imgCarrucel" src="/home/mostrarImagen/?imagen=@imagen" alt="Second slide" title="@pelicula.Nombre">
                        <p class="contenedor"><strong>@pelicula.Nombre</strong></p>
                    </a>
                </div>
            }
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carrusel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carrusel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
}

@for (int indCategorias = 0; indCategorias < lstCategorias.Length; indCategorias++)
{
    var categoria = lstCategorias[indCategorias];
    var lstPaliculas = Model.ToList().FindAll(x => String.Join(',', x.Genero).Contains(categoria));
    var indPeliculas = 0;
    <p class="tituloCategoria" style=" display: inline-block;">@categoria</p>
    <div>
        @if (lstPaliculas.Count > 5)
        {
            <span class="carousel-control-prev-icon" id="prev-icon" target="div_@categoria" direction="left" onclick="ScrollDiv(this);"></span>
        }
        <div id="div_@categoria" class="divCategorias">
            <div class="row" style="width:250%;">
                @for (int ind = 0; ind < lstPaliculas.Count; ind++)
                {
                    var pelicula = lstPaliculas.ElementAt(ind);
                    var cardCategorias = "card_" + categoria;
                    if (pelicula.Genero.ToList().Exists(x => x == categoria))
                    {
                        indPeliculas++;
                        var imagen = pelicula.Poster;
                        if (imagen == null || imagen == "") { imagen = "/images/img-no-disponible.png"; }
                        <a href="/home/Details/?pelicula=@pelicula.Nombre" class="@cardCategorias">
                            <div class="col-sm-1">
                                <div class="card">
                                    <div class="card-body" style="padding:0px;">
                                        <div class="cardBodyImg">
                                            <img src="@imagen" alt="" class="img-responsive" title="@pelicula.Nombre">
                                        </div>
                                        <div class="cardBodyBottom">
                                            <p class="lead"><strong>@pelicula.Nombre</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        if (indPeliculas == 11)
                        {
                            break;
                        }
                    }
                }
            </div>
        </div>
        @if (lstPaliculas.Count > 5)
        {
            <span class="carousel-control-next-icon" id="next-icon" target="div_@categoria" direction="right" onclick="ScrollDiv(this);"></span>
        }
        </div>
}